{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
        <div class="mx-auto divide-y divide-gray-200 w-10/12 md:w-3/5 xl:w-1/4 overflow-hidden rounded-lg my-4 bg-white shadow">
            <div class="px-4 py-3 text-center sm:px-6">
                Votre structure
            </div>
            <div class="text-center py-4">
                <h3 class="text-sm font-medium text-gray-900">{{ structure.address }}</h3>
                {#                            {% if active %}#}
                {#                            <span class="inline-block flex-shrink-0 rounded-full bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800">Actif</span>#}
                {#                            {% else %}#}
                {#                            <span class="inline-block flex-shrink-0 rounded-full bg-red-400 px-2 py-0.5 text-xs font-medium text-green-800">Inactif</span>#}
                {#                            {% endif %}#}
                <span class="text-sm text-gray-500">{{ structure.email }}</span>
            </div>
        </div>

        <div class="mx-auto divide-y divide-gray-200 w-10/12 md:w-3/5 xl:w-1/4 overflow-hidden rounded-lg my-4 bg-white shadow">
            <div class="px-4 py-3 text-center sm:px-6">
                Vos permissions
            </div>

            {% if permissions is empty %}
                <div class="text-center p-4"><span class="text-red-400">Aucune permission disponible pour cette structure</span></div>
            {% else %}
            <div class="px-4 py-5 sm:p-6 grid grid-cols-3 gap-x-2 max-rows-max">
            {% for permission in permissions %}
                <div class="col-start-1 justify-self-end form-check form-switch">
                    <input id="perm" class="form-check-input" type="checkbox">
                </div>
                <label for="perm" class="col-start-2 col-span-2 justify-self-start">{{ permission.name }}</label>
            {% endfor %}
            </div>
            {% endif %}
        </div>
{% endblock %}
